bin/
out/
build/
include/
lib/
docs/html/
docs/latex/
tests/old/
docs/html/
docs/latex/
src/prx/external/libtorch/
resources/networks/
resources/input_files/mazes/*.yaml
executables/mujoco_env_creator/env_configs/*
executables/mujoco_env_creator/env_plots/*
executables/mujoco_env_creator/mujoco_envs/*
resources/models/mujoco_envs/*
resources/input_files/mujoco_envs/*
resources/models/bottleneck/*
resources/input_files/bottleneck/*
*.html
*.out
*.pyc
*.txt
*.pth
.vscode/
**/.DS_Store
**/._.DS_Store
experiments/
data/
install/
*.pkl
*.png
*.csv
saved_models/
resources/temp/
*.pth
models/*.pth
.git_backup/
fpr_predictions*/
resources/input_files/cylinder_env*/
resources/input_files/level_*/