bin/
out/
build/
include/
lib/
scripts/
docs/html/
docs/latex/
tests/old/
docs/html/
docs/latex/
src/prx/external/libtorch/
resources/input_files/mazes/*.yaml
*.html
*.out
*.pyc
.vscode/
**/.DS_Store
**/._.DS_Store
experiments/